
.projects {
    margin: 0;
    padding: 0;
    margin-top: 60px;
}

.projects__item {
    display: flex;
    font-size: 14px;
    line-height: 1.4;
}

.projects__item__left {
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid #AAA;
    flex-basis: 25%;
}

.projects__item__right {
    padding-left: 10px;
    flex-shrink: 1;
    flex-basis: 75%;
    padding-bottom: 30px;
}

.projects__item__name {
    margin: 0;
    font-size: 100%;
}

.projects__item__description {
    margin: 0;
}

.projects__item__date {
    font-size: 80%;
}
.projects__item__more {
    margin-top: 1em;
}
